

{% extends "base/base.html" %}
{% load static %}

{% block content %}
<!-- component -->
<div class="relative min-h-screen flex items-center justify-center bg-gray-50 py-6 px-2 sm:px-3 lg:px-4 bg-gray-500 bg-no-repeat bg-cover relative items-center">
	<div class="absolute bg-black opacity-60 inset-0 z-0">
        
    </div>
	<div class="sm:max-w-lg w-full p-8 bg-white rounded-xl z-10">
		<a href="{% url 'ListUsers' %}" class="self-end mb-2" title="Volver a la lista de Usuarios">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                <path fill-rule="evenodd" d="M7.5 3.75A1.5 1.5 0 006 5.25v13.5a1.5 1.5 0 001.5 1.5h6a1.5 1.5 0 001.5-1.5V15a.75.75 0 011.5 0v3.75a3 3 0 01-3 3h-6a3 3 0 01-3-3V5.25a3 3 0 013-3h6a3 3 0 013 3V9A.75.75 0 0115 9V5.25a1.5 1.5 0 00-1.5-1.5h-6zm5.03 4.72a.75.75 0 010 1.06l-1.72 1.72h10.94a.75.75 0 010 1.5H10.81l1.72 1.72a.75.75 0 11-1.06 1.06l-3-3a.75.75 0 010-1.06l3-3a.75.75 0 011.06 0z" clip-rule="evenodd" />
            </svg>
        </a>
        <div class="text-center">
            <h2 class="mt-1 text-3xl font-bold text-gray-900">
                Nuevo Usuario
            </h2>
        </div>

        <form class="mt-5 space-y-3" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="md:flex flex-row md:space-x-4 w-full text-xs">
                <div class="mb-3 space-y-2 w-full text-xs">
                    <label class="font-semibold text-gray-600 py-2">Nombres <abbr title="required">*</abbr></label>
                    <input placeholder="Nombres" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4" required="required" type="text" name="nombres" id="nombres">
                    <p class="text-red text-xs hidden">Please fill out this field.</p>
                </div>

                <div class="mb-3 space-y-2 w-full text-xs">
                    <label class="font-semibold text-gray-600 py-2">Apellidos <abbr title="required">*</abbr></label>
                    <input placeholder="Apellidos" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4" required="required" type="text" name="apellidos" id="apellidos">
                    <p class="text-red text-xs hidden">Please fill out this field.</p>
                </div>

            </div>
                    <div class="md:flex flex-row md:space-x-4 w-full text-xs">
                        <div class="mb-3 space-y-2 w-full text-xs">
                            <label class="font-semibold text-gray-600 py-2">Documento<abbr title="required">*</abbr></label>
                            <input placeholder="Documento" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4" required="required" type="text" name="documento" id="documento">
                            <p class="text-red text-xs hidden">Please fill out this field.</p>
                        </div>

                        <div class="mb-3 space-y-2 w-full text-xs">
                            <label class="font-semibold text-gray-600 py-2">Contacto<abbr title="required">*</abbr></label>
                            <input placeholder="Contacto" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4" required="required" type="text" name="contacto" id="contacto">
                            <p class="text-red text-xs hidden">Please fill out this field.</p>
                        </div>
                    </div>

                    <div class="flex items-center justify-center w-full">
                        <label class="flex flex-col rounded-lg border-4 border-dashed w-full h-60 p-10 group text-center">
                            <div class="h-full w-full text-center flex flex-col items-center justify-center items-center">
                                <div class="flex flex-auto max-h-48 w-2/5 mx-auto -mt-10">
                                    <img class="has-mask h-36 object-center" src="https://img.freepik.com/free-vector/image-upload-concept-landing-page_52683-27130.jpg?size=338&ext=jpg" alt="freepik image" id="img">
                                </div>
                                <p class="pointer-none text-gray-500">
                                    <span class="text-sm">
                                        <a href="#" onclick="selectFromComputer()">Subir desde la computadora</a> |
                                        <a href="#" onclick="captureFromCamera()">Tomar una foto</a>
                                    </span>
                                </p>
                            </div>
                            <input type="file" accept="image/*" class="hidden" name="foto" id="input">
                        </label>
                    </div>
                            <p class="text-sm text-gray-300">
                                <span>Tipo de Fotos: Png, Jpg</span>
                            </p>
                    <div>
                        <button type="submit" class="my-5 w-full flex justify-center bg-blue-500 text-gray-100 p-4  rounded-full tracking-wide
                                    font-semibold  focus:outline-none focus:shadow-outline hover:bg-blue-600 shadow-lg cursor-pointer transition ease-in duration-300">
                        Guardar
                    </button>
                    </div>
        </form>
	</div>
</div>

<style>
	.has-mask {
		position: absolute;
		clip: rect(10px, 150px, 130px, 10px);
	}
</style>


<script>
    function selectFromComputer() {
        input.click();
    }

    function captureFromCamera() {
        navigator.mediaDevices.getUserMedia({ video: true })
            .then((stream) => {
                const videoTrack = stream.getVideoTracks()[0];
                const imageCapture = new ImageCapture(videoTrack);
        
                return imageCapture.takePhoto();
            })
            .then((blob) => {
                // Muestra la foto en la vista previa
                img.src = URL.createObjectURL(blob);
    
                // Crea un objeto FormData y adjunta la imagen capturada
                const formData = new FormData();
                formData.append('foto', blob, 'captured.jpg');
    
                // Realiza una solicitud AJAX para enviar la foto al servidor
                fetch('/url_de_tu_vista/', {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    // Maneja la respuesta del servidor si es necesario
                    console.log(data);
                })
                .catch(error => {
                    console.error('Error al enviar la foto al servidor:', error);
                });
    
                // Cierra la cámara
                stream.getTracks().forEach(track => track.stop());
            })
            .catch((error) => {
                console.error('Error al abrir la cámara:', error);
            });
    }
    
    

    let img = document.getElementById('img')
    let input = document.getElementById('input')

    input.onchange = (e) => {
        if (input.files[0])
            img.src = URL.createObjectURL(input.files[0])
    }
</script>



{% endblock %}


@login_required(login_url='/login/')
def usuariosAdd(request):
    if request.method == 'POST':
        try:
            form = PersonaForm(request.POST, request.FILES)
            if form.is_valid():
                NuevaPersona = form.save(commit=False)
                if 'foto' in request.FILES:
                    NuevaPersona.foto = request.FILES['foto']
                NuevaPersona.save()
                return redirect('ListUsers')
            else:
                # Muestra errores de validación si el formulario no es válido
                print(form.errors)
                return HttpResponse(status=400)  # Devuelve una respuesta de error 400 Bad Request
        except Exception as e:
            print(f"Error en la vista usuariosAdd: {str(e)}")
            return HttpResponse(status=500)  # Devuelve una respuesta de error 500 Internal Server Error
    elif request.method == 'GET':
        # Si no es una solicitud POST, simplemente renderiza el formulario vacío
        return render(request, "usuarios/addUser.html", {'form': PersonaForm})

    return HttpResponse(status=400)  # Devuelve una respuesta de error 400 Bad Request para casos inesperados