{% extends "base/base.html" %}
{% load static %}
<head>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.tailwindcss.min.css">
</head>
{% block content %}

<a
type="button"
class="border border-gray-700 bg-gray-700 text-white rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-gray-800 focus:outline-none focus:shadow-outline" href="{% url 'AddUser' %}"
>
Agregar Nuevos Usuarios
</a>
<div>
    <div>
        <h2>Lista de Usuarios</h2>
        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>nombres</th>
                    <th>apellidos</th>
                    <th>documento</th>
                    <th>contacto</th>
                    <th>cargo</th>
                </tr>
            </thead>
            {% for per in peronsas %}
                <tbody>
                    <tr>
                        <td>{{per.nombres}}</td>
                        <td>{{per.apellidos}}</td>
                        <td>{{per.documento}}</td>
                        <td>{{per.contacto}}</td>
                        <td>{{per.cargo}}</td>
                    </tr>
                </tbody>
            {% endfor %}
            <tfoot>
                <tr>
                    <th>nombres</th>
                    <th>apellidos</th>
                    <th>documento</th>
                    <th>contacto</th>
                    <th>cargo</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<script>
    new DataTable('#example');
</script>


{% endblock %}
<script>
    new DataTable('#example');
</script>